.page{
    width: 1fr;
    background-color: blueviolet;
    margin: auto;
    padding: 20px;
    padding-top: 35px;
}

h1{
    text-align: center;
    font-family: "Times New Roman";
}

h2{
    text-align: center;
    font-family: "Times New Roman";
}
.vis-container {
    width: 100%;
    border-radius: 15px;
    background-color: green;
    padding: 20px;
}
