#vis_title{
    font-family: 'Tahoma', serif;
    font-size:35px;
    color: "black";
    text-align: center;
    margin-top: 25px;
}  

#stackedbar_chart,#chloropeth_map{
	flex:1 1 45%;
    min-width: 500px;
}

#vega-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100vw;
    box-sizing:border-box;
  }